<div class="container-fluid">
    <div class="db-breadcrumb">
        <h4 class="breadcrumb-title">Admin- Subject Master</h4>

    </div>

   


    <form #myForm="ngForm">
        <div class="row">

            <div class="col-lg-12 m-b30">
                <div class="widget-box">

                    <div class="widget-inner">
                        <div class="edit-profile m-b30">
                            <div class="row">

                                <div class="col-md-2"></div>
                                <div class="col-md-8">

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Subject</label>
                                        <div class="col-sm-7">
                                            <input class="form-control" pattern="^[A-Za-z -]+$" name="subjects" #subjects="ngModel" [(ngModel)]="subject" type="text" value="" required placeholder="Enter subject Name..">
                                        </div>
                                    </div>
                                    <div class="form-group row" *ngIf="subjects.errors && (subjects.dirty || subjects.touched)">
                                        <label class="col-sm-2 col-form-label"></label>

                                        <div class="col-sm-7 alert alert-danger">
                                            <strong>Error !</strong> Please enter valid subject name
                                        </div>
                                    </div>
                                    <div style="text-align:center;"> <button [disabled]="(!subjects.valid)" type="button" (click)="postSubject()" class="btn btn-block btn-success"><i
                                            class="fa fa-fw fa-plus-circle"></i>Submit</button></div>


                                </div>
                                <div class="col-md-2"></div>
                                <div class="seperator"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>
