<div class="ttr-sidebar ">
    <div class="ttr-sidebar-wrapper content-scroll">
        <!-- side menu logo start -->
        <div class="ttr-sidebar-logo">
                <a href="#">
                    <span style="font-size: 18px;font-style: italic;font-weight: bold;color: #3f42b1;">
                      THE LEARNING ADDA
                    </span>
                    <br>
                    <span style="margin-left: 37px;color: #c5840cc9;">Making Learning Easier</span>
                </a>
                <div class="ttr-sidebar-toggle-button">
                    <i class="ti-arrow-left"></i>
                </div>
           </div>
        <!-- side menu logo end -->
        <!-- sidebar menu start -->
        <nav class="ttr-sidebar-navi">
            <ul>
                <li>
                    <a href="#" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="ttr-material-button a">
                        <span class="ttr-icon"><i class="ti-home"></i></span>
                        <span class="ttr-label">Dashborad</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-email"></i></span>
                        <span class="ttr-label">Study Material</span>
                        <span class="ttr-arrow-icon"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul>
                        <li>
                            <a href="javascript:void(0)" [routerLink]="['./postmaterial']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="ttr-material-button a"><span
                                    class="ttr-label">Material</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" [routerLink]="['./postGK']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="ttr-material-button a"><span
                                    class="ttr-label">Current Affairs</span></a>
                        </li>

                    </ul>
                </li>


                <li>
                    <a href="#" [routerLink]="['./postjob']" routerLinkActive="active" class="ttr-material-button a">
                        <span class="ttr-icon"><i class="ti-book"></i></span>
                        <span class="ttr-label">Job Alert</span>
                    </a>
                </li>


                <li>
                    <a href="javascript:void(0)"  class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-book"></i></span>
                        <span class="ttr-label">Quiz Master</span>
                        <span class="ttr-arrow-icon"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul>
                        <li>
                            <a href="javascript:void(0)" [routerLink]="['./subject']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="ttr-material-button a"><span
                                    class="ttr-label">Subject</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" [routerLink]="['./series']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="ttr-material-button a"><span
                                    class="ttr-label">Series</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" [routerLink]="['./postQuiz']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="ttr-material-button a"><span
                                    class="ttr-label">Quiz</span></a>
                        </li>
                    </ul>

                </li>
                <li>
                    <a href="#" [routerLink]="['./content']" routerLinkActive="active" class="ttr-material-button a">
                        <span class="ttr-icon"><i class="ti-user"></i></span>
                        <span class="ttr-label">Content Master</span>
                    </a>
                </li>
                <li>
                    <a href="#" [routerLink]="['./userRole']" routerLinkActive="active" class="ttr-material-button a">
                        <span class="ttr-icon"><i class="ti-user"></i></span>
                        <span class="ttr-label">Manage User Role</span>
                    </a>
                </li>



                <li class="ttr-seperate"></li>
                <li>
                    <a href="javascript:void(0)"  class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-book"></i></span>
                        <span class="ttr-label">Product Master</span>
                        <span class="ttr-arrow-icon"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul>
                        <li>
                            <a href="javascript:void(0)" [routerLink]="['./product']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="ttr-material-button a"><span
                                    class="ttr-label">Add Product</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" [routerLink]="['./series']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="ttr-material-button a"><span
                                    class="ttr-label">View Product</span></a>
                        </li>                     
                    </ul>

                </li>
            </ul>
            <!-- sidebar menu end -->
        </nav>
        <!-- sidebar menu end -->
    </div>
</div>