<!-- <div class="page-wraper"> -->
	<!-- <div id="loading-icon-bx"></div> -->
	<div class="account-form">
		<div class="account-head" style="background-image:url(assets/images/background/bg2.jpg);">
			<a [routerLink]="['/']"><img src="assets/images/logo.png" alt=""></a>
		</div>
		<div class="account-form-inner">
			<div class="account-container">
				<div class="heading-bx left">
					<h2 class="title-head">Sign Up <span>Now</span></h2>
					<p>Login Your Account <a [routerLink]="['/account/login']">Click here</a></p>
				</div>	
				<div class="contact-bx">
				<div class="row placeani">
						<div class="col-lg-12">
							<div class="form-group">
							
									<label>Your Name</label>
									<input name="name" type="text" [(ngModel)]="signUp.FullName" class="form-control">
							
							</div>
						</div>
						<div class="col-lg-12">
				        <div class="form-group">
				
						<label>Your Email Address</label>
						<input name="email"  (blur)="validateEmail()" [email]="true" [(ngModel)]="signUp.Email" type="email"  class="form-control">
						
					    </div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
						
							<label>User Name</label>
							<input name="email" [(ngModel)]="signUp.UserName" type="text"  class="form-control">
							
							</div>
							</div>
						<div class="col-lg-12">
							<div class="form-group">
							
									<label>Your Password</label>
									<input name="password" [(ngModel)]="password" type="password" class="form-control" required="">
								
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
							
									<label>Confirm Password</label>
									<input name="password" [(ngModel)]="signUp.Password" (ngModelChange)="validatePassword()" type="password" class="form-control" required="">
							
							</div>
						</div>
						<div class="col-lg-12 m-b30">
							<button name="submit" [disabled]="(isValid.email) && (isValid.password)" (click)="signup()"  value="Submit" class="btn button-md">Sign Up</button>
						</div>
						<div class="col-lg-12">
							<h6>Sign Up with Social media</h6>
							<div class="d-flex">
								<a class="btn flex-fill m-r5 facebook" href="#"><i class="fa fa-facebook"></i>Facebook</a>
								<a class="btn flex-fill m-l5 google-plus" href="#"><i class="fa fa-google-plus"></i>Google Plus</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- </div> -->
