<footer *ngIf="router.url !== '/account/login' && router.url !== '/account/signup'">

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-heading">
                            <img src="assets/images/fanal.png" style="width: 100px;height: 42px;" />
                            <p>TLA provide FREE quality Educational Material and Quizes for various government exams. Also at TLA we provide complete detailed list & notifications for various government exams. </p>
                                  <div class="top-left">             
                                        <ul>
                                                <li class="tlasocila"><a href="#"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a></li>
                                                <li class="tlasocila"><a href="#"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a></li>
                                                <li class="tlasocila"><a href="#"><i class="fa fa-linkedin linkintla" aria-hidden="true"></i></a></li>
                                                <li class="tlasocila"><a href="#"><i class="fa fa-google-plus gmailtla " aria-hidden="true" ></i></a></li>
                                               <!-- <li class="tlasocila"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>-->
                                              
                                      </ul>
                                        </div>
        </div>            
            </div>
            <div class="col-md-3">
                    <div class="footer-heading">
                      <h3 class="jobhed">COMPANY</h3>
                      <ul>
                        <li><a href="#home">Home Page</a></li>
                        <li><a href="#Courses">About Us</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#Faq">FAQ</a></li>   
                      </ul>
                    </div>
                  </div>
          
                  <div class="col-md-3">
                    <div class="footer-heading">
                      <h3 class="jobhed">COURSES</h3>
                      <ul>
                          <li><a href="#home">SSC</a></li>
                        <li><a href="#Courses">Bank</a></li>
                        
                        <li><a href="#">Railway</a></li>
                        <li><a href="#Faq">Others</a></li>   
                      </ul>
                    </div>
                  </div>
          
                     <div class="col-md-3">
                    <div class="footer-heading">
                      <h3 class="jobhed">RESOURCES</h3>
                      <ul>
                       <li><a href="#">Job Alert</a></li>
                        <li><a href="#">Current Affairs</a></li>
                        <li><a href="#">e-Library</a></li>
                        <li><a href="#">Quize</a></li>  
                      </ul>
                    </div>
                  </div>
        </div>
      </div>
    </div>
      <div id="bottom-footer" class="hidden-xs">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div >
                    Copyright &copy;2019 The Learning Adda . All Rights Reserved
                    </div>
                
                </div>
        
                
              </div>
            </div>
          </div>
</footer>
<button class="back-to-top fa fa-chevron-up" ></button>