<div class="container">
    <h3> {{role =='admin' ? 'Admin - Material List' : 'Student - Download latest Uploaded Study Material'}}</h3>
    <hr>

    <div class="row">
        <div class="panel panel-primary filterable">
            <ul class="pagination">
                <li class="page-item"><button class="btn btn-primary" [disabled] ="curPage == 1" (click)="curPage = curPage - 1">Previous</button></li>
                <li class="page-item"><a class="page-link disabled" href="javascript:void(0)">Page {{curPage}} of {{ numberOfPages() }}</a></li>
                
                <li class="page-item"><button [disabled] = "curPage >= materialList.length/pageSize" class="btn btn-primary" (click) ="curPage = curPage + 1">Next</button></li>
              </ul>
            <table class="table ">
                <thead class="bg-info">
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="S.No." disabled></th>
                        <th><input type="text" class="form-control" placeholder="Title" disabled></th>

                        <th><input type="text" class="form-control" placeholder="Upload Date" disabled></th>
                        <th class="text-center" *ngIf="role =='admin'"><input type="text" class="form-control text-center" placeholder="Action" disabled></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let material of materialList | slice: (curPage * pageSize) - pageSize :curPage * pageSize;let i=index;">
                        <td>{{material.sr}}</td>
                        <td >
                            <a href="{{url+material.url}}" target="_blank">{{material.title}}</a></td>

                        <td>{{material.createdDate}}</td>
                        <td *ngIf="role =='admin'" class="text-center"><a href="javascript:void(0)" class="btn btn-danger btn-md">Delete</a></td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination">
                <li class="page-item"><button class="btn btn-primary" [disabled] ="curPage == 1" (click)="curPage = curPage - 1">Previous</button></li>
                <li class="page-item"><a class="page-link disabled" href="#">Page {{curPage}} of {{ numberOfPages() }}</a></li>
                
                <li class="page-item"><button [disabled] = "curPage >= materialList.length/pageSize" class="btn btn-primary" (click) ="curPage = curPage + 1">Next</button></li>
              </ul>
        </div>
    </div>
</div>