<div class="container">
    <h3>Student-Download latest Uploaded Study Material</h3>
    <hr>

    <div class="row">
        <div class="panel panel-primary filterable">

            <table class="table ">
                <thead class="bg-info">
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="##S.No." disabled></th>
                        <th><input type="text" class="form-control" placeholder="Title" disabled></th>

                        <th><input type="text" class="form-control" placeholder="Upload Date" disabled></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let material of materialList;let i=index;">
                        <td>{{i+1}}</td>
                        <td class="outline-primary">
                            <a href="{{url+material.url}}" target="_blank">{{material.title}}</a></td>

                        <td>{{material.createdDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>