<div class="container-fluid">
    <div class="db-breadcrumb">
        <div class="row" style="width:100% !important">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h4 class="float-left breadcrumb-title">Student | Exam</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <h4 class="float-left breadcrumb-title"> Questins {{i+1}} of {{totalQuestion}}</h4>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 float-right">
                <h4 class="float-left breadcrumb-title"> Left Time:
                    <countdown #countdown [config]="{leftTime: duration}" (finished)="finishTest()"></countdown>
                </h4>
                <h4>Duration: {{secondsToHms(duration)}}</h4>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="alert alert-success">
                <strong>Q {{i + 1}}:</strong> {{Quiz?.question}}
            </div>
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="col-xs-12 col-xs-offset-5">
                            <div id="loadbar" class="load" style="display: none;">
                                <div class="blockG" id="rotateG_01"></div>
                                <div class="blockG" id="rotateG_02"></div>
                                <div class="blockG" id="rotateG_03"></div>
                                <div class="blockG" id="rotateG_04"></div>
                                <div class="blockG" id="rotateG_05"></div>
                                <div class="blockG" id="rotateG_06"></div>
                                <div class="blockG" id="rotateG_07"></div>
                                <div class="blockG" id="rotateG_08"></div>
                            </div>
                        </div>
                        <form #userForm="ngForm">
                            <div class="quiz" id="quiz" data-toggle="buttons">
                                <label (click)="clickradio('A')" class="element-animation1 btn btn-lg btn-primary btn-block"><span
                                    class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input
                                    type="radio" name="q_answer" [checked]="Quiz?.answer=='A'" [(ngModel)]="answerValue" value="A" >{{Quiz?.qa?.option1}}</label>
                                <label (click)="clickradio('B')" class="element-animation2 btn btn-lg btn-primary btn-block"><span
                                    class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input
                                    type="radio" name="q_answer" [checked]="Quiz?.answer=='B'" value="B" [(ngModel)]="answerValue">{{Quiz?.qa?.option2}}</label>
                                <label (click)="clickradio('C')" class="element-animation3 btn btn-lg btn-primary btn-block"><span
                                    class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input
                                    type="radio" name="q_answer" [checked]="Quiz?.answer=='C'" value="C" [(ngModel)]="answerValue" > {{Quiz?.qa?.option3}}</label>
                                <label (click)="clickradio('D')" class="element-animation4 btn btn-lg btn-primary btn-block"><span
                                    class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input
                                    type="radio" name="q_answer" [checked]="Quiz?.answer=='D'" value="D" [(ngModel)]="answerValue"> {{Quiz?.qa?.option4}}</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-muted">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-left" *ngIf="i > 0"><button (click)="pre()" class="btn btn-sm">Pre</button></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right" *ngIf="(i+1) < totalQuestion"><button (click)="next()" class="btn btn-sm">Next</button></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right" *ngIf="(i+1) == totalQuestion"><button (click)="next()" class="btn btn-sm btn-success">Finish</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>