<!-- <div class="page-wraper"> -->
<!--<div id="loading-icon-bx"></div>-->
<div class="account-form">
    <div class="account-head" style="background-image:url(assets/images/background/bg2.jpg);">
        <a [routerLink]="['/']"><img src="/assets/images/logo.png" alt=""></a>
    </div>
    <div class="account-form-inner">
        <div class="account-container">
            <div class="heading-bx left">
                <h2 class="title-head">Forgot Password</h2>
                <p>Don't have an account? <a [routerLink]="['/account/signup']">Create one here</a></p>
            </div>

            <div class="contact-bx">
                <div class="row placeani">
                    <div class="col-lg-12">
                        <div class="form-group">

                            <label for="name">User Name</label>
                            <input [(ngModel)]="user.uname" name="uname" placeholder="Enter user name" type="text" class="form-control">

                        </div>
                    </div>

                    <div class="col-lg-12 m-b30">
                        <button name="submit" class="btn button-md">Send OTP</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- </div> -->