<div class="container-fluid">
    <div class="db-breadcrumb">
        <h4 class="breadcrumb-title">Admin-Material Master</h4>

    </div>

    <div class="row" style="display: none;">

        <div class="col-lg-12 m-b30">
            <a style="color: white !important;" [routerLink]="['./material-list']" class="btn btn-success float-right">Go Material List</a>
        </div>
    </div>
    <div class="clerifix"><br></div>


    <form #myForm="ngForm">
        <div class="row">

            <div class="col-lg-12 m-b30">
                <div class="widget-box">

                    <div class="widget-inner">
                        <div class="edit-profile m-b30">
                            <div class="row">

                                <div class="col-md-2"></div>
                                <div class="col-md-8">

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Label</label>
                                        <div class="col-sm-7">
                                            <input class="form-control" pattern="^[A-Z a-z 0-9 _ @ , . = '' $ # ! % ( ) + ;{ } \-]+$" name="label" #name="ngModel" [(ngModel)]="material.label" type="text" value="" required placeholder="Enter label Name..">
                                        </div>
                                    </div>
                                    <div class="form-group row" *ngIf="name.errors && (name.dirty || name.touched)">
                                        <label class="col-sm-2 col-form-label"></label>

                                        <div class="col-sm-7 alert alert-danger">
                                            <strong>Error !</strong> Please enter valid label name
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Upload File</label>
                                        <div class="col-sm-7">
                                            <input required class="form-control" accept=".jpg,.jpeg,.png,.xlsx,.pdf,.docx,.doc,.xls,.ppt,.pptx" (change)="onFileChange($event)" #fileInput="ngModel" [(ngModel)]="material.file" name="file" placeholder="Please choose file.." required type="file">
                                        </div>
                                    </div>
                                    <div class="form-group row" *ngIf="errMSG!=='' || !fileInput.valid">
                                        <label class="col-sm-2 col-form-label"></label>
                                        <div *ngIf="errMSG!==''" class="col-sm-7 alert alert-danger">
                                            <strong>Error !</strong> {{errMSG}}
                                        </div>
                                        <div *ngIf="fileInput.errors && (fileInput.dirty || fileInput.touched)" class="col-sm-7 alert alert-danger">
                                            <strong>Error !</strong> Please select file to upload
                                        </div>
                                    </div>
                                    <div class="form-group row" *ngIf="file.length>0">
                                        <div class="col-sm-12">
                                            <table class="table table-responsive">
                                                <tr>
                                                    <th>File Name</th>
                                                    <th>Size</th>
                                                    <th>Type</th>
                                                    <th>Action</th>
                                                </tr>
                                                <tr>
                                                    <td>{{file[0].name}}</td>
                                                    <td>{{file[0].size}}</td>
                                                    <td>{{file[0].type}}</td>
                                                    <td><a href="javascript:void(0)" (click)="clearFile('is')" class="btn btn-danger">Delete</a></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>




                                    <div style="text-align:center;"> <button [disabled]="( !fileInput.valid ||  !name.valid)" type="button" (click)="postMaterial()" class="btn btn-block btn-success"><i
                                            class="fa fa-fw fa-plus-circle"></i>Submit</button></div>


                                </div>
                                <div class="col-md-2"></div>
                                <div class="seperator"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>