<!-- <div class="page-wraper"> -->
<!--<div id="loading-icon-bx"></div>-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark loginheader" style="padding-bottom: 10px !important;">
        <!-- Brand/logo -->
        <a [routerLink]="['/']" class="navbar-brand"><img class="logoimageclass" style="margin-left: 22px;width: 95px;" src="/assets/images/fanal.png" alt=""></a>
      </nav>
<div class="account-form">
   
    <div class="account-form-inner">
        <div class="account-container">
            <div class="heading-bx left">
                <h4 class="title-head">Login to your <span>Account</span></h4>
                <p>Don't have an account? <a [routerLink]="['/account/signup']">Create one here</a></p>
            </div>
            <div class="contact-bx">
                <div class="row placeani">
                    <div class="col-lg-12">
                        <div class="form-group">

                            <label for="email">Your Name</label>
                            <input placeholder="Your UserName" id="email" [(ngModel)]="credentials.UserName" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">

                            <label>Your Password</label>
                            <input placeholder="Your Password" [(ngModel)]="credentials.password" type="password" class="form-control">

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group form-forget">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                <label class="custom-control-label" for="customControlAutosizing"><span style="padding-left: 10px;"> Remember me </span></label>
                            </div> 
                                
                           
                        </div>
                    </div>
                    <div style="margin-left: 4%;"> 
                            <h4>
                        <a [routerLink]="['/account/passwordreset']" class="ml-auto">Forgot Password?</a>
                    </h4>      
                    </div>


                    
                    <div class="col-lg-12 m-b30">
                        <button name="submit" (click)="Login()" class="btn-danger-new">Login</button>
                    </div>

                    <div class="col-lg-12">
							<h6>Sign Up with Social media</h6>
							<br>
							<div class="d-flex">
								<a class="flex-fill m-r5 facebooknew" href="#"><i class="fa fa-facebook"></i> Facebook</a>
								<a class=" flex-fill m-l5  gmailtlanew" href="#"><i class="fa fa-google-plus"></i> Google Plus</a>
							</div>
						</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->