
<style>
  /* .loading {
    background:#7f7f7f;
  background:rgba(255,255,255,0.5);
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999 !important;
}
 
.loading span {
    position: fixed;
    left: 50%;
    top: 50%;
    border: solid 1px #ccc;
    display: block;
    padding: 20px 40px;
    margin-left: -40px;
    background: rgba(255,255,255,0.8);
}
.loaders {
  z-index: 9999 !important;
  position: fixed;
    left: 50%;
    top: 50%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */
</style>


<div class="loading" style="display:none;">
    <div class="loaders"></div>
</div>

<router-outlet></router-outlet>




