<div class="container-fluid">
    <div class="db-breadcrumb">
        <h4 class="breadcrumb-title">Student | Subject List</h4>
    </div>
    <div class="row">
        <div *ngFor="let subject of subjectList" class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
            <div [ngStyle]="{'background-color': getRandomColor()}" class="widget-card">
                <div class="wc-item">
                    <h4 class="wc-title">
                        {{subject.subjectName}}
                    </h4>

                </div>
            </div>
        </div>
    </div>
</div>