<div class="container-fluid">
    <div class="db-breadcrumb">
        <h4 class="breadcrumb-title">Admin- Content Master</h4>

    </div>

   


    <form #myForm="ngForm">
        <div class="row">

            <div class="col-lg-12 m-b30">
                <div class="widget-box">

                    <div class="widget-inner">
                        <div class="edit-profile m-b30">
                            <div class="row">

                                <div class="col-md-2"></div>
                                <div class="col-md-8">


                                    <div class="form-group row">
                                        <label class="col-sm-2  col-form-label">Select Subject</label>
                                        <div class="col-sm-7">
                                            <select name="pages" class="form-control" #pages="ngModel" [(ngModel)]="model.page" type="text"  required placeholder="Select page..">
                                                    <option  value="">Please select page</option>  
                                                <option *ngFor="let subject of subjectList" value="{{subject.contentTypeID}}">{{subject.contentType}}</option>
                                                   
                                                    </select>
                                        </div>
                                    </div>
                                    <div class="form-group row" *ngIf="pages.errors && (pages.dirty || pages.touched)">
                                        <label class="col-sm-2  col-form-label"></label>

                                        <div class="col-sm-7 alert alert-danger">
                                            <strong>Error !</strong> please select page
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Content</label>
                                        <div class="col-sm-7">
                                                <textarea rows="2" name="contents" class="form-control" #contents="ngModel" [(ngModel)]="model.content" placeholder="Please enter content. Max 800 char allow" required type="text" maxlength="800"></textarea>
                                            <!-- <input class="form-control" pattern="^[A-Za-z -]+$" name="contents" #contents="ngModel" [(ngModel)]="model.content" type="text" value="" required placeholder="Enter content.."> -->
                                        </div>
                                    </div>
                                    <div class="form-group row" *ngIf="contents.errors && (contents.dirty || contents.touched)">
                                        <label class="col-sm-2 col-form-label"></label>

                                        <div class="col-sm-7 alert alert-danger">
                                            <strong>Error !</strong> Please enter  valid series name
                                        </div>
                                    </div>
                                   
                                    
                                    <div style="text-align:center;"> <button [disabled]="!myForm.valid" type="button" (click)="postcontent()" class="btn btn-block btn-success"><i
                                            class="fa fa-fw fa-plus-circle"></i>Submit</button></div>


                                </div>
                                <div class="col-md-2"></div>
                                <div class="seperator"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>


