<div class="container-fluid">
    <div class="db-breadcrumb">
        <h4 class="breadcrumb-title">Student -{{subjectInfo.subjectName}} | Series</h4>
    </div>
    <div class="row">
        <div *ngFor="let series of seriesList" class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
            <div [ngStyle]="{'background-color':series.color}" class="widget-card">
                <div class="wc-item text-center">
                    <h4 class="wc-title">
                        {{series.quizName}}
                    </h4>
                    <p>Duration: {{secondsToHms(series.durationInSeconds)}}</p>
                    <p><button class="btn btn-primary" (click)="getSeries(series)">Start Quiz</button></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4   col-sm-4"></div>
        <div class="col-lg-4 col-md-4   col-sm-4"><button (click)="loadMore()" class="btn btn-block btn-secondary">Load More Records</button></div>
        <div class="col-lg-4 col-md-4   col-sm-4"></div>
    </div>
</div>