<app-header-a></app-header-a>
 <!--slider-->
  <div>
    <section>
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: 65px;" >
    <!-- Indicators -->
     

    <!-- Wrapper for slides -->
    <div class="carousel-inner" >

            <div class="item active">
                <img src="assets/images/slider/banner-1.jpg?v=1" width="1900px"  alt="">

            </div>

            <div class="item">
                <img src="assets/images/slider/banner-1.jpg" width="1900px" alt="">

            </div>



        </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </section>
      

</div>


<section>
    <div class="container pb-40">
        <div class="section-content">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="text-uppercase title">Bid<span class="text-theme-colored2"> 4U :)</span></h2>
                        <div class="double-line-bottom-centered-theme-colored-2 mt-20"></div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="icon-box hover-effect border-1px border-radius-10px text-center bg-white p-15 pt-40 pb-30">
                        <a href="#" class="icon icon-circled icon-lg coursesbac">

                            <i class="fa fa-graduation-cap coursesicon" aria-hidden="true"></i>
                        </a>
                        <h4 class="icon-box-title text-uppercase letter-space-1 font-20 mt-15" style="text-transform: none;"><a href="#">Jobe Alert</a></h4>
                        <div>
                            <input type="checkbox" class="read-more-state" id="post-1" />
                        
                        <p class="read-more-wrap">Here  at TLA one can find all government exams notification, link to download admit card & results. 
                            <span class="read-more-target">TLA is one stop solution to all your queries regarding government exams search.</span></p>
                            <label for="post-1" class="read-more-trigger redmore"></label>
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box hover-effect border-1px border-radius-10px text-center bg-white p-15 pt-40 pb-30">
                        <a href="#" class="icon icon-circled icon-lg librarybac">
                            <i class="fa fa-book libraryicon" aria-hidden="true"></i>

                        </a>
                        <h4 class="icon-box-title text-uppercase letter-space-1 font-20 mt-15" style="text-transform: none;"><a href="#">e-Library</a></h4>
                        <div>
                      <input type="checkbox" class="read-more-state" id="post-2" />
                        <p class="read-more-wrap">Download significant current affairs & static material to boost up your preparation from TLA's well customized <span class="read-more-target"> e- Library section.
   </span></p>
   <label for="post-2" class="read-more-trigger"></label>
                       </div>
                       
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box hover-effect border-1px border-radius-10px text-center bg-white p-15 pt-40 pb-30">
                        <a href="#" class="icon icon-circled icon-lg teacherbac">
                            <i class="fa fa-user  teachericon"></i>


                        </a>
                        <h4 class="icon-box-title text-uppercase letter-space-1 font-20 mt-15" style="text-transform: none;"><a href="#">Current Affairs</a></h4>
                        
                        <div>
                            <input type="checkbox" class="read-more-state" id="post-3" />
                        <p class="read-more-wrap">TLA current affairs are based on various national & international news published on leading newspapers.<span class="read-more-target"> Team TLA is committed to prepare comprehensive current affairs on daily basis for you considering requirements of various government exams.</span></p>
                        <label for="post-3" class="read-more-trigger"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box hover-effect border-1px border-radius-10px text-center bg-white p-15 pt-40 pb-30">
                        <a href="#" class="icon icon-circled icon-lg certificatebac">
                            <i class="fa fa-certificate certificateicon" aria-hidden="true"></i>


                        </a>
                        <h4 class="icon-box-title text-uppercase letter-space-1 font-20 mt-15" style="text-transform: none;"><a href="#">Quiz</a></h4>
                        <div>
                            <input type="checkbox" class="read-more-state" id="post-4" />
                        
                        <p class="read-more-wrap">TLA Quizzes are based on daily current affairs and relevant static material. It is our effort to leave no stone unturned to cover as many <span class="read-more-target"> areas as possible.</span></p> 
                        
                        <label for="post-4" class="read-more-trigger"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--about-->

   
    <div id="JobAlert" >
         <section class="padd">
   
    <div class="features-ele">
						<div class="container">
							<div class="section-title">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="text-uppercase title jobhed ">Job Alert</h2>
              <div class="double-line-bottom-centered-theme-colored-2 mt-20"></div>              
         
            </div>
          </div>
        </div>
					<div class="columns">
            <ul class="price">
                <li class="header">JOB ALERT</li>
            </ul>
  <ul class="price" style="height: 247px; overflow-y: scroll;">
    

                        <li *ngFor="let item of data.job | slice:0:50;"><i class="fa fa-check-circle"></i><a href="{{item.jobUrl}}" target="_blank" style="margin-left: 5px;">{{item.jobtitle}}</a></li>

                    </ul>
                </div>

<div class="columns">
    <ul class="price">
        <li class="header">ADMIT CARD</li>
    </ul>
  <ul class="price" style="height: 247px; overflow-y: scroll;">
    
      
    <li *ngFor="let item of data.admit | slice:0:50;" class="list-group-item"><i class="fa fa-check-circle"></i><a href="{{item.jobUrl}}"  target="_blank" style="margin-left: 5px;">{{item.jobtitle}}</a></li>
 	
  
  </ul>
</div>

<div class="columns">
  <ul class="price">
      <li class="header">RESULT</li>
  </ul>
  <ul class="price" style="height: 247px; overflow-y: scroll;">
    

    <li *ngFor="let item of data.result | slice:0:50;" class="list-group-item"><i class="fa fa-check-circle"></i><a href="{{item.jobUrl}}"  target="_blank" style="margin-left: 5px;">{{item.jobtitle}}</a></li>


                    </ul>
                </div>
            </div>
        </div>

    </section>
</div>







<!--about bg-->

<div id="Courses">
    <div class="exams-set  padd">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="text-uppercase title " style="margin-bottom: 20px;">Why choose <span class="text-theme-colored2"> TLA</span></h2>

                        <p class="text-uppercase">Choose Your Desired Course</p>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="icon-box hover-effect border-1px border-radius-10px text-center bg-white p-15 pt-40 pb-30">
                        <a href="#" class="icon icon-circled icon-lg coursesbac">

                            <i class="fa fa-graduation-cap coursesicon" aria-hidden="true"></i>
                        </a>
                        <h4 class="icon-box-title text-uppercase letter-space-1 font-20 mt-15" style="text-transform: none;"><a href="#">Job Alert</a></h4>
                        <div>
                            <input type="checkbox" class="read-more-state" id="post-5" />
                        
                        <p class="read-more-wrap">
                            Here  at TLA one can find all government exams notification, link to download admit card & results. <span class="read-more-target">  TLA is one stop solution to all your queries regarding government exams search.
                                </span>
                        </p>
                        <label for="post-5" class="read-more-trigger"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box hover-effect border-1px border-radius-10px text-center bg-white p-15 pt-40 pb-30">
                        <a href="#" class="icon icon-circled icon-lg librarybac">
                            <i class="fa fa-book libraryicon" aria-hidden="true"></i>

                        </a>
                        <h4 class="icon-box-title letter-space-1 font-20 mt-15" style="text-transform: none;"><a href="#">e-Library</a></h4>
                        <div>
                            <input type="checkbox" class="read-more-state" id="post-6" />
                        <p class="read-more-wrap">
                            Download significant current affairs & static material to boost up your preparation from TLA's well  <span class="read-more-target"> customized e- Library section.</span>
                        </p>
                        <label for="post-6" class="read-more-trigger"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box hover-effect border-1px border-radius-10px text-center bg-white p-15 pt-40 pb-30">
                        <a href="#" class="icon icon-circled icon-lg teacherbac">
                            <i class="fa fa-user  teachericon"></i>


                        </a>
                        <h4 class="icon-box-title text-uppercase letter-space-1 font-20 mt-15" style="text-transform: none;"><a href="#">Quiz</a></h4>
                      
                        <div>
                            <input type="checkbox" class="read-more-state" id="post-7" />
                        <p class="read-more-wrap">
                            TLA Quizzes are based on daily current affairs and relevant static material. It is our effort to leave no stone <span class="read-more-target">  unturned to cover as many areas as possible.</span> 
                        </p>
                        <label for="post-7" class="read-more-trigger"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div id="onlinecourses" class="onlinesection">

    <div>
        <h2 class="text-uppercase title text-white-f2  jobhed">Current Affairs</h2>
    </div>
    <ul class="price">

        <li *ngFor="let item of data.currentAffairs" class="list-group-item" innerHTML="{{item.content}}"><i class="fa fa-check-circle">

  </i></li>
    </ul>
</div> -->

<section>
    <div class="container pb-40">
      <div class="section-content">
            <div class="section-title">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="text-uppercase title">Current<span class="text-theme-colored2"> Affairs</span></h2>
            <div class="double-line-bottom-centered-theme-colored-2 mt-20"></div>              
       
          </div>
        </div>
      </div>
   <div class="row">
  <div class="col-md-12">
    <div class="carousel carousel-showsixmoveone slide" id="carousel123">
      <div class="carousel-inner">
        <div class="item active">
          <div class="col-xs-12 col-sm-12 col-md-12">
              
<div class="card" >
    <div class="col-md-6 ltacuurentbor">
 <img src="assets/images/courses/pic3.jpg" alt="img" style="width:100%">
</div>

<div class="col-md-6 ltacuurentbor">
<div class="listname">
<ul class="listitem">
 

    <li>25GB Storage</li>
    <li>25 Emails</li>
    <li>25 Domains</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
 
</ul>
</div>
</div>


</div>

</div>
        </div>
<div class="item">
    <div class="col-xs-12 col-sm-12 col-md-12">
              
        <div class="card">
            <div class="col-md-6 ltacuurentbor">
              

<img src="assets/images/courses/pic6.jpg" alt="img" style="width:100%">
</div>
<div class="col-md-6 ltacuurentbor">
<div class="listname">
<ul class="listitem">
 

    <li>25GB Storage</li>
    <li>25 Emails</li>
    <li>25 Domains</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
 
</ul>
</div>
</div>
</div>

</div>          
</div>
<div class="item">
<div class="col-xs-12 col-sm-12 col-md-12">
              
           <div class="card">
               <div class="col-md-6 ltacuurentbor">
 <img src="assets/images/courses/pic7.jpg" alt="img" style="width:100%">
</div>
<div class="col-md-6 ltacuurentbor">
<div class="listname">
<ul class="listitem">
 

    <li>25GB Storage</li>
    <li>25 Emails</li>
    <li>25 Domains</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
 
</ul>
</div>
</div>
</div>


          </div>          </div>          
        <div class="item">
<div class="col-xs-12 col-sm-12 col-md-12">
              
           <div class="card">
               <div class="col-md-6 ltacuurentbor">
 <img src="assets/images/courses/pic8.jpg" alt="img" style="width:100%">
</div>
<div class="col-md-6 ltacuurentbor">
<div class="listname">
<ul class="listitem">
 

    <li>25GB Storage</li>
    <li>25 Emails</li>
    <li>25 Domains</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
 
</ul>
</div>
</div>
</div>


          </div>          </div>
        <div class="item">
<div class="col-xs-12 col-sm-12 col-md-12">
              
           <div class="card">
               <div class="col-md-6 ltacuurentbor">
 <img src="assets/images/courses/pic9.jpg" alt="img" style="width:100%">
</div>
<div class="col-md-6 ltacuurentbor">
<div class="listname">
<ul class="listitem">
 

    <li>25GB Storage</li>
    <li>25 Emails</li>
    <li>25 Domains</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
 
</ul>
</div>
</div>
</div>


          </div>          </div>
        <div class="item">
<div class="col-xs-12 col-sm-12 col-md-12">
              
           <div class="card">
               <div class="col-md-6 ltacuurentbor">
<img src="assets/images/courses/pic2.jpg" alt="img" style="width:100%">
</div>
<div class="col-md-6 ltacuurentbor">
<div class="listname">
<ul class="listitem">
 

    <li>25GB Storage</li>
    <li>25 Emails</li>
    <li>25 Domains</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
      
 
</ul>
</div>
</div>
</div>


          </div>          </div>
        <div class="item">
<div class="col-xs-12 col-sm-12 col-md-12">
              
           <div class="card">
               <div class="col-md-6 ltacuurentbor">
<img src="assets/images/courses/pic4.jpg" alt="img" style="width:100%">
</div>
<div class="col-md-6 ltacuurentbor">
<div class="listname">
<ul class="listitem">
 

    <li>25GB Storage</li>
    <li>25 Emails</li>
    <li>25 Domains</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
 
</ul>
</div>
</div>
</div>


          </div>          </div>
        <div class="item">
<div class="col-xs-12 col-sm-12 col-md-12">
              
           <div class="card">
               <div class="col-md-6 ltacuurentbor">
 <img src="assets/images/courses/pic3.jpg" alt="img" style="width:100%">
</div>
<div class="col-md-6 ltacuurentbor">
<div class="listname">
<ul class="listitem">
 

    <li>25GB Storage</li>
    <li>25 Emails</li>
    <li>25 Domains</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
    <li>2GB Bandwidth</li>
      
 
</ul>
</div>
</div>
</div>


          </div>          

        </div>
      </div>
      <a class="left carousel-control arrowdes" href="#carousel123" data-slide="prev" > <i class="fa fa-angle-left"></i></a>
      <a class="right carousel-control arrowdes" href="#carousel123" data-slide="next" ><i class="fa fa-angle-right"></i></a>
    </div>
  </div>
</div>
          </div>
        </div>
  </section>

<!--service-->
<div id="Faq">

    <!--services wrapper-->
    <section class="padd">
        <div>
            <div class="container">
                <div class="section-title">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="text-uppercase title ">Frequently Asked<span class="text-theme-colored2"> Questions</span></h2>


                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-8 accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <button class="collapsible collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                         Is there any fee for study material?
                      </button>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        No,all the content available in TLA is free of cost.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <button class="collapsible collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Is there any subscription cost for giving tests? 
                      </button>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        No,all the test available in TLA is free of cost
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <button class="collapsible collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Is it possible to download study material from TLA?
                      </button>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Yes, study material can be downloaded from TLA website and application.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <button class="collapsible collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Is the job alert will be available for the private jobs also?
                      </button>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body">
                                        No,the job alert will be available for government exams only.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <img src="assets/images/slider/2.jpg " />

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


</div>




<!--contact form-->
<div id="contact" class="padd exams-set">
    <div class="contact">
        <div class="container">
            <div class="heading text-center">

                <h2>Get In Touch</h2>
                <div class="bor"></div>
                <p>Get in touch with us for anything and everything</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                         </div>
						
							<div class="contact-info">
								<div class="row">
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="info-item">
											  <i class="fa fa-map-marker font-36 mb-10 text-theme-colored"></i>
											<h4>Address</h4>
                                            <p>The Learning Adda (TLA)</p>
								</div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="info-item">
										 <i class="fa fa-envelope font-36 mb-10 text-theme-colored"></i>
											<h4>Email</h4>
											<p>support@thelearningadda.info</p>
										</div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="info-item">
											<i class="fa fa-phone"></i>
											<h4>Call</h4>
											<p> +91-768-784-1755</p>
											
										</div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="info-item">
											<a href="#"><i class="fa fa-question-circle"></i></a>
											<h4>FAQs</h4>
											<p>Answers to the most frequently asked questions about TLA</p>
										</div>
									</div>
								</div>
							</div>
						



                <!-- Contact Contents -->
                <div class="contact-content" id="contactcontainer">
                    <h5 class="text-center">Send Your Message</h5>
                    <div class="bor"></div>
                    <br />
                    <p class="text-center">Note: For account activation queries, please drop a mail to support@tla.in</p>
                    <br />
                    <form role="form" id="contactForm" method="post">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Enter Name..." value="">
                                    <label for="name" class="nameMsg commonMsg"></label>
                                </div>

											</div>
											<div class="col-md-4 col-sm-4">
												<div class="form-group">
													<input type="email" class="form-control"  name="email" placeholder="Enter Email..." value="">
													<label for="email" class="emailMsg commonMsg"></label>
												</div>
											</div>
											<div class="col-md-4 col-sm-4">
												<div class="form-group">
													<input type="text" class="form-control" name="phone" placeholder="Enter Phone..." value="">
													<label for="phone" class="phoneMsg commonMsg"></label>
												</div>
											</div>
											<div class="col-md-12 col-sm-12">
												<div class="form-group">
													<textarea class="form-control" name="message" rows="6" placeholder="Enter Your Message..."></textarea>
													<label for="subject" class="subjectMsg commonMsg"></label>
                        </div> 
                        <div style="margin-bottom: 20px;">
                        <a href="#"  name="submit" class="redmore" >Send Message</a>
                      </div>
											</div>
										</div>
									</form>									
								</div>
              </div>                  
					</div>
					</div>
      </div>

<!--contact-->
<app-footer-a></app-footer-a>